<footer>
  <div class="container pt-3 pb-3">
    <div class="row">
      <div class="col-lg-6">
        <div class="info">
          <p class="mb-4 ms-sm-5 ms-1">
            <span class="me-2 text-uppercase fw-semibold">Address:</span>6391
            Elgin St. Celina, Delaware 10299
          </p>

          <p class="mb-4 ms-sm-5 ms-1">
            <span class="me-2 text-uppercase fw-semibold">Phone:</span>+84 1102
            2703
          </p>

          <p class="ms-sm-5 ms-1">
            <span class="me-2 text-uppercase fw-semibold">Email:</span
            >hello@thebox.com
          </p>

          <div class="d-flex ms-sm-5 ms-1 mt-4 align-items-center">
            <img class="me-3" src="/assets/imags/logo.svg" alt="logo" />
            <a class="navbar-brand fs-3 fw-bold fst-italic" href="#">TheBox</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pt-4 news-icon">
        <p class="ms-sm-5 ms-1 me-2 text-uppercase fw-semibold">Newsletter:</p>

        <form>
          <div class="mb-3 d-flex">
            <input
              type="email"
              class="form-control d-inline ms-sm-5 ms-1"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <button type="submit" class="btn ps-sm-4 pe-sm-4">Submit</button>
          </div>
        </form>

        <p class="ms-sm-5 ms-1 me-2 mt-4 mb-1 text-uppercase fw-semibold">
          Social:
        </p>

        <div
          class="icons ms-sm-5 ms-1 d-flex d-sm-block justify-content-center"
        >
          <a href="#" class="me-3"> <fa-icon [icon]="faFacebook"></fa-icon></a>
          <a href="#" class="me-3"> <fa-icon [icon]="faLinkedin"></fa-icon></a>
          <a href="#"> <fa-icon [icon]="faTwitter"></fa-icon></a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright pt-3 pb-3">
    <div class="container">
      <p class="text-white mb-0">
        TheBox Company &copy; {{ today }}. All Rights Reversed
      </p>
    </div>
  </div>
</footer>
